/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

manifest {
    homePage = "https://www.github.com/villeneuvelab/vlpp"
    description = ""
    mainScript = "vlpp"
}

trace {
    enabled = true
    file = "log/pipeline_trace.tsv"
    fields = "hash,name,status,exit,submit,realtime,%cpu,rss"
}

timeline {
    enabled = true
    file = "log/timeline.html"
}

dag {
    enabled = true
    file = "log/flowchart.png"
}

workflow.onComplete = {
    println "Workflow directory    : $workflow.projectDir"
    println "Launch directory      : $workflow.launchDir"
    println "Pipeline completed at : $workflow.complete"
    println "Execution status      : ${ workflow.success ? 'OK' : 'failed' }"
    println "Duration              : $workflow.duration"
}

params.suffix = [
    "anat": "_T1w.nii.gz",
    "atlas": "_aparc+aseg.nii.gz",
    "pet": "_pet.nii.gz",
    "centiloid": "_centiloid.nii.gz",
    "suvr": "_suvr.nii.gz",
    "mask": "_mask.nii.gz",

    "petRealign": "_realign_pet.nii.gz",

    "pet2anat": "_pet2anat_Affine.txt",
    //"anat2tpl_aff": "_anat2tpl_Affine.mat",
    "anat2tpl": "_anat2tpl_Warp.nii",
    "tpl2anat": "_tpl2anat_Warp.nii",

    "petInAnat": "_space-anat_pet.nii.gz",
    "centiloidInAnat": "_space-anat_centiloid.nii.gz",

    "anatInTpl": "_space-tpl_T1w.nii.gz",
    "atlasInTpl": "_space-tpl_aparc+aseg.nii.gz",
    "petInTpl": "_space-tpl_pet.nii.gz",
    "centiloidInTpl": "_space-tpl_centiloid.nii.gz",
    "suvrInTpl": "_space-tpl_suvr.nii.gz",
    "maskInTpl": "_space-tpl_mask.nii.gz",
    ]


