<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Villeneuve Lab PET Pipeline</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <!-- Dashboard -->
  <link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/keen-dashboards.css" />
</head>

<body class="keen-dashboard" style="padding-top: 80px;">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">{{participant_id}}</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            {{info.anat.title}}
          </div>
          <div class="chart-stage">
            <canvas id="{{info.anat.canvas_id}}">
            <img id="{{info.anat.sprite}}" class="hidden" src="{{info.anat.mosaic_file}}">
          </div>
          <div class="chart-notes">
            {{info.anat.notes}}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            {{info.atlas.title}}
          </div>
          <div class="chart-stage">
            <canvas id="{{info.atlas.canvas_id}}">
            <img id="{{info.atlas.sprite}}" class="hidden" src="{{info.atlas.mosaic_file}}">
          </div>
          <div class="chart-notes">
            {{info.atlas.notes}}
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            {{info.pet.title}}
          </div>
          <div class="chart-stage">
            <canvas id="{{info.pet.canvas_id}}">
            <img id="{{info.pet.sprite}}" class="hidden" src="{{info.pet.mosaic_file}}">
          </div>
          <div class="chart-notes">
            {{info.pet.notes}}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            {{info.petatlas.title}}
          </div>
          <div class="chart-stage">
            <canvas id="{{info.petatlas.canvas_id}}">
            <img id="{{info.petatlas.sprite}}" class="hidden" src="{{info.petatlas.mosaic_file}}">
          </div>
          <div class="chart-notes">
            {{info.petatlas.notes}}
          </div>
        </div>
      </div>

    </div>

    <hr>
    <!--p class="small text-muted">Built with &#9829; by Christophe and <a href="https://keen.io">Keen IO</a></p-->
  </div>

  <!-- brainsprite -->
  <script type="text/javascript" src="../assets/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/brainsprite.min.js"></script>
  <script type="text/javascript" src="../data/{{participant_id}}.js"></script>

  <script>

  $(window).load(function() {
    var brainMap = [];
    for (var key in params) {
      value = params[key]
      brainMap[key] = brainsprite({
        canvas: "canvas_"+key,
        //sprite: "background0",
        sprite: "sprite_"+key,
        //sprite: "sprite",
        nbSlice: value.nbSlice,
        colorBackground: "#000000",
        //colorFont: "#000000",
        //flagCoordinates: true,
        //origin: value.origin,
        voxelSize: params.voxelSize,
        onclick: function(e) {
          for ( nn=0 ; nn<brainMap.length ; nn++) {
            brainMap[nn].numSlice = this.numSlice;
            brainMap[nn].drawAll();
            console.log(nn);
          }
        },
        //overlay: {
          //sprite: "overlay"+mm,
          //nbSlice: params[mm].nbSlice,
          //smooth: true
        //},
        //colorMap: {
          //img: "colormap"+mm, // That is the ID of the image with the colormap
          //min: params[mm].min,
          //max: params[mm].max,
        //},
      });
    }
  });

  </script>

</body>
</html>

