/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/

manifest {
    homePage = "https://www.github.com/villeneuvelab/vlpp"
    description = ""
    mainScript = "vlpp"
}

trace {
    enabled = true
    file = "log/pipeline_trace.tsv"
    fields = "hash,name,status,exit,submit,realtime,%cpu,rss"
}

timeline {
    enabled = true
    file = "log/timeline.html"
}

dag {
    enabled = true
    file = "log/flowchart.png"
}

workflow.onComplete = {
    println "Workflow directory    : $workflow.projectDir"
    println "Launch directory      : $workflow.launchDir"
    println "Pipeline completed at : $workflow.complete"
    println "Execution status      : ${ workflow.success ? 'OK' : 'failed' }"
    println "Duration              : $workflow.duration"
}

includeConfig "../config/default.config"
includeConfig "../config/qa.config"

profiles {
    qa {
        executor {
            queueSize = 3
        }
    }
}
