/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/


/*
 * Misc.
 */

centiloidRoiDir = "$LOCAL_VL_DIR/atlas/Centiloid_Std_VOI/nifti/1mm"

suffix {
    anat = "_T1w.nii.gz"
    nu = "_nu.nii.gz"
    atlas = "_aparc+aseg.nii.gz"
    pet = "_pet.nii.gz"
    mask = "_mask.nii.gz"
    pet2anat = "_pet2anat_Affine.txt"
    //anat2tpl_aff = "_anat2tpl_Affine.mat"
    anat2tpl = "_anat2tpl_Warp.nii"
    tpl2anat = "_tpl2anat_Warp.nii"
}


/*
 * Dataset
 *
 *  Possible value
 *  - "DIAN":
 *    - set tracer to PIB
 *  - "PAD":
 *    - set tracer from participant ID
 *  - null
 */
dataset = null


/*
 * Tracer
 *
 *  Possible value
 *  - "PIB": will compute centiloid, see DOI:10.1016/j.jalz.2014.07.003
 *  - "NAV": will compute centiloid, see DOI:10.2967/jnumed.115.171595
 *  - "TAU": won't compute centiloid
 *  - null
 */
tracer = null


/*
 * Segmentation
 *
 *  - `compat`: path to the compat directory in SPM12
 */
segmentation {
    compat = '/sf1/project/yai-974-aa/local/matlab_tb/spm/v12/compat'
}


/*
 * Realign
 *
 *  Realign frames of the participant
 *
 *  - `ignore`: set it to `true` if you want to skip this step
 *              will be automatically ignore if PET data has only one frame
 *  - `keepTmp`: set it to `true` if you want to temporary files used to
 *               estimate normalisation to anat and template space
 */
realign {
    ignore = false
    keepTmp = false
}


/*
 * pet2anat
 *
 *  Control the way to smooth pet or centiloid after normalization to T1w space
 *   - `mask`: mask the data
 *     - "brain": keep only brain data
 *     - "gmwm": keep only gray and white matter data
 *     - null: don't mask the data
 *   - `fhwm`: gaussian kernel in mm
 *             set to 0 if you don't want to smooth your data
 */
pet2anat {
    pet {
        mask = "brain"
        fwhm = 6
    }
    centiloid {
        mask = null
        fwhm = 6
    }
}


/*
 * Freesurfer ROIs References
 *
 *  Define regions of references based on freesurfer indices of aparc+aseg atlas
 */
fsReferences {
    cerebellumCortex = [8, 47]
    wholeCerebellum = [7, 8, 46, 47]
    whitematter = [2, 41]
}
