/*
vim: syntax=groovy
-*- mode: groovy;-*-
*/


/*
 * Dataset
 *
 *  Possible value
 *  - "DIAN": set tracer to PIB
 *  - "PAD": set tracer from participant ID
 */
dataset = null


/*
 * Tracer
 *
 *  Possible value
 *  - "PIB": will compute centiloid, see DOI:10.1016/j.jalz.2014.07.003
 *  - "NAV": will compute centiloid, see DOI:10.2967/jnumed.115.171595
 *  - "TAU": won't compute centiloid
 */
tracer = null


realign {
    // set to true if you want to ignore realign process
    ignore = false
}


pet2anat {
    // Control
    pet {
        mask = "brain"
        fwhm = 6
    }
    centiloid {
        mask = null
        fwhm = 6
    }
}


fsReferences {
    cerebellumCortex = [8, 47]
    //cerebellumCortexErode = [8, 47]
    wholeCerebellum = [7, 8, 46, 47]
    whitematter = [2, 41]
}


/*
 * Misc
 */

centiloidRoiDir = "$LOCAL_VL_DIR/atlas/Centiloid_Std_VOI/nifti/1mm"

suffix {
    anat = "_T1w.nii.gz"
    atlas = "_aparc+aseg.nii.gz"
    pet = "_pet.nii.gz"
    mask = "_mask.nii.gz"
    pet2anat = "_pet2anat_Affine.txt"
    //anat2tpl_aff = "_anat2tpl_Affine.mat"
    anat2tpl = "_anat2tpl_Warp.nii"
    tpl2anat = "_tpl2anat_Warp.nii"
}
